*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
    font-family: 'Open Sans';
    font-weight: 400;
    margin: 0;
}

$nitro-blue: #5bacc3;
$nitro-pink: #fff0ed;
$graphite: #393939;
$white: #fff;
$gray: #909090;
$light-gray: #f7f7f7;

@mixin flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}
